@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Bir hata oluştu</h1>

@if (Model.ShowRequestId)
{
    <p>
        <h2 class="text-danger"><strong><code>@Model.RequestMessage</code></strong></h2>
    </p>
}