@model SigortaTakipSistemi.Models.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Genel Rapor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="box-header">
            <h2 class="box-title">
                <i class="fa fa-line-chart"></i>&nbsp;Genel Rapor
            </h2>
        </div>
        <div class="row">
            <div class="box">
                <form asp-action="GeneralInsuranceReportResult">
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label"></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input asp-for="StartDate" type="text" class="form-control pull-right" id="datepicker" autocomplete="off" />
                                </div>
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FinishDate" class="control-label"></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input asp-for="FinishDate" type="text" class="form-control pull-right" id="datepicker2" autocomplete="off" />
                                </div>
                                <span asp-validation-for="FinishDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">İptal Edilen Poliçeler Listelensin</label>
                                <div class="input-group">
                                    <div></div>
                                    <span class="input-group-addon"><input asp-for="IsCancelledIncluded" type="checkbox" /></span><input disabled value="İptal Poliçeleri Listelemek İçin Seçiniz" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="submit" value="Getir" class="btn btn-success btn-block" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>