@model SigortaTakipSistemi.Models.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Genel Rapor";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-chart-line"></i>&nbsp;Genel Rapor
                        </h5>
                    </div>
                    <form asp-action="GeneralInsuranceReportResult">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="StartDate" class="control-label"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input asp-for="StartDate" type="text" class="form-control pull-right" id="datepicker" autocomplete="off" />
                                        </div>
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FinishDate" class="control-label"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input asp-for="FinishDate" type="text" class="form-control pull-right" id="datepicker2" autocomplete="off" />
                                        </div>
                                        <span asp-validation-for="FinishDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">İptal Edilen Poliçeler Dahil Edilsin</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <input asp-for="IsCancelledIncluded" type="checkbox" />
                                                </span>
                                            </div>
                                            <input disabled value="İptal Poliçeleri Dahil Etmek İçin Seçiniz" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="submit" value="Getir" class="btn btn-success btn-block" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>