@model SigortaTakipSistemi.Models.ViewModels.ReportViewModel

@{
    ViewData["Title"] = "Ödeme Şekli Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="box-header">
            <h2 class="box-title">
                Ödeme Şekli Raporu
            </h2>
        </div>
        <div class="row">
            <div class="box">
                <div class="box-body">
                    <div class="col-md-4">
                        <form asp-action="InsurancePaymentTypeReportResult">
                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label"></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input asp-for="StartDate" type="text" class="form-control pull-right" id="datepicker" />
                                </div>
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FinishDate" class="control-label"></label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input asp-for="FinishDate" type="text" class="form-control pull-right" id="datepicker2" />
                                </div>
                                <span asp-validation-for="FinishDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="InsurancePaymentType" class="control-label"></label>
                                <select asp-for="InsurancePaymentType" class="form-control select2" multiple="multiple" asp-items="@Html.GetEnumSelectList<Insurances.InsurancePaymentTypeEnum>()" style="width: 100%;"></select>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="submit" value="Getir" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>