@{
    ViewData["Title"] = "Ana Sayfa";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.InsuranceCount</h3>

                        <p>Toplam Poliçe</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-folder-open"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.ActiveInsuranceCount</h3>

                                <p>Aktif Toplam Poliçe</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <a asp-controller="Insurance" asp-action="Index" class="small-box-footer">
                                Git <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.PassiveInsuranceCount</h3>

                                <p>Pasif Toplam Poliçe</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-times"></i>
                            </div>
                            <a asp-controller="Insurance" asp-action="PassiveInsurances" class="small-box-footer">
                                Git <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.CustomerCount</h3>

                        <p>Toplam Müşteri</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a asp-controller="Customer" asp-action="Index" class="small-box-footer">
                        Git <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>