@model SigortaTakipSistemi.Models.AppIdentityRole

@{
    ViewData["Title"] = "Sistem Rolü Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="invoice">
        <div class="callout callout-danger">
            <h4>Bu rolü silmek istediğinizden emin misiniz?</h4>
            <p>
                Bu rolü silerseniz işlemi geriye alamayacaksınız.
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-check-square-o"></i> @Html.DisplayFor(model => model.Name)
                </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <address>
                    Rol Adı: <strong>@Html.DisplayFor(model => model.NormalizedName)</strong><br>
                    Eşzamanlılık Damgası: <strong>@Html.DisplayFor(model => model.ConcurrencyStamp)</strong><br>
                </address>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Evet" class="btn btn-danger pull-right" />
                    <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                    </a>
                </form>
            </div>
        </div>
    </section>
</div>
