@model SigortaTakipSistemi.Models.InsurancePolicies

@{
    ViewData["Title"] = "Poliçe Türü Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="box-header">
            <h2 class="box-title">
                <i class="fa fa-plus"></i>&nbsp; Poliçe Türü Ekle
            </h2>
        </div>
        <div class="row">
            <div class="box">
                <div class="box-body">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Ekle" class="btn btn-success" />
                                <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                    <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>