@model IEnumerable<SigortaTakipSistemi.Models.InsurancePolicies>

@{
    ViewData["Title"] = "Poliçe Türleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <h3>
            <i class="fa fa-list-ul"></i>&nbsp; Poliçe Türleri
        </h3>
        <form method="post" enctype="multipart/form-data">
            <a class="btn btn-success" asp-action="Create">Yeni Oluştur</a>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <div class="box table-responsive">
                    <div class="box-body">
                        <table id="reportTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
