@model SigortaTakipSistemi.Models.CarBrands

@{
    ViewData["Title"] = "Marka Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="box-header">
            <h3>Marka Detayları</h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                        </dl>
                        <div>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Güncelle</a>
                            <a class="btn btn-dark" asp-action="Index">Listeye Geri Dön</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>